# Ignore JetBrains IDE (CLion, IntelliJ, etc.)
.idea/

# Ignore CMake build files
cmake-build-debug/
*.ninja_deps
*.ninja_log

# Ignore JSON API reply files
*.json

# Ignore log files
*.log

# Ignore CMake build files
cmake-build-debug/
cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_log
cmake-build-debug/CMakeFiles/
cmake-build-debug/Testing/